.App {
    text-align: center;
    overflow-x: hidden;

  }
  .cont{
    margin-top: 1%;
    margin-left: 2%;
  }
  .fis{
    text-decoration: underline;
    color: rgb(49, 100, 195);
    font-size: larger;
    margin-left: -18%;
  }
  .input{
    width: 30%;
    height: 40px;
  }
  .labels{
    margin-left: -22%;
  }
  .labelf{
    margin-left: -23%;
    text-decoration: underline;

  }
  .labelf:hover{
    background-color: cornflowerblue;
  }

  .labelp{
    margin-left: -26%;
    margin-top: 5%;

  }
  .pass{
    margin-top: 30px;
  }
  .btn{
    width: 30%;
    height: 40px;
    background-color: rgb(52, 206, 233);
  }
  .btn:hover{
    background-color: rgb(26, 101, 221);
  }
  .btnc{
    margin-top: 30px;

  }
  .txt{
    margin-left: -110px;
  }
  .p{
    margin-left: -50px;

  }
  .h1{
    margin-left: -90px;

  }
  .p2{
    margin-left: -90px;
  }
  .ash{
    text-decoration: underline;
  }
  .line{
    width: 500px;
  }
  .h4{
    margin-left: -110px;

  }
  .p4{
    margin-left: -230px;

  }
  .anch{
    text-decoration: underline;
  }
  .bot{
    width: 1700px;
  }
  .p0{
    margin-bottom: 150px;
  }
